/* -------------------- */
/* 	  SASS VARIABLES    */
/* -------------------- */

// buttons
$primary-btn-color: purple;
$primary-btn-color-hover: rgb(165, 25, 165);

// general use colors
$light-text: rgb(244, 248, 226);
$dark-text: rgba(0, 0, 0, 0.719);

$main-color: rgb(40, 40, 187);
$secondary-color: yellow;

// header
$jumbotron-bg: linear-gradient(45deg, rgb(141, 26, 26), rgb(12, 12, 168));

/* ------------ */
/* 	  GLOBAL    */
/* ------------ */
body {
	font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
p {
	color: $dark-text;
	letter-spacing: 0.1rem;
}

img {
	width: 100%;
}

/* -------------------- */
/* 	BOOTSTRAP OVERRIDES */
/* -------------------- */
.jumbotron {
	background-image: $jumbotron-bg;
}

/* BUTTONS */
.btn-primary {
	background-color: $primary-btn-color;
	border-color: $primary-btn-color;
}

.btn-primary:hover {
	background-color: $primary-btn-color-hover;
	border-color: $primary-btn-color-hover;
}

/* -------------- */
/* CUSTOM CLASSES */
/* -------------- */
.jumbo-row {
	min-height: 400px;

	h1,
	p {
		color: $light-text;
	}
}

.banner {
	background-color: $main-color;
	h1,
	h2,
	p {
		color: $light-text;
	}
}
